@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.css");

:root {
  line-height: 1.5;
  font-family: 'Ubuntu';
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

ul {
  display: flex;
  list-style: none;
}

li {
  cursor: pointer;
}

#center-links {
  color: white;
  font-weight: 350;
  gap: 30px;
  display: flex;
  justify-content: center;
  margin-left: -70px;
}

body {
  background: linear-gradient(to right, #0061FF, #3BEBFF);
}

header {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px 0 20px;
}

#header-logo {
  height: 15px;
  cursor: pointer;
}

#header-button {
  border: none;
  font-size: 16px;
  font-weight: 350;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
}

h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
}

#hero-text {
  margin-top: 40px;
  text-align: center;
}

.first-line {
  justify-content: center;
  display: block;
}
.second-line {
  font-size: 50px;
}

.content {
  display: flex;
}

#hero-button {
  border: none;
  display: flex;
  justify-content: center;
  justify-self: center;
  font-size: 16px;
  font-weight: 350;
  background-color: white;
  padding: 5px;
  width: 130px;
  font-size: 20px;
  border-radius: 18px;
  cursor: pointer;
}

.place-holder {
  margin: 0 0 20px 0;
  display: flex;
  justify-self: center;
  width: 750px;
  border-radius: 20px;
}